*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.container {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.error h1 {
	font-size: 1.5rem;
}

.error h4{
	font-size: 3rem;
	margin-bottom: 10px;
}

.error a{
	text-decoration: none;
	color:#FFF;
	padding: 10px 40px;
	background-color: blue;
	margin-top: 10px;
	border-radius: 5px;
}

.boton{
	display:flex;
	justify-content:center;
}